body{
font-family: Helvetica, sans-serif;
}
a:link, a:visited{
	color: #ff6600;
	text-decoration: none;

}
a:hover{
	text-decoration: underline;
}
#wrap{
   width: 960px;
   margin: auto;
   background: #e3e3e3;
   padding: 10px 20px;

}
header nav ul{
	list-style: none;
	padding-left: 0px;
}
header nav ul li{
	display: inline-block;
	margin-right: 10px;
}
header nav ul a{
	font-size: 18px;
}
#content{
	float: left;
	background: red;
	width: 660px;

}
#sidebar{
background: blue;
	float: right;
	width: 300px;
}
footer{
	clear: both;
}
#sidebar ul{
	list-style: none;
}
label, input[type=submit], input[type=text], textarea{

	display: block;
}
textarea{
	width: 300px;
	height: 80px;
}
input[type=submit]{
	background: #333333;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 20px;
	border: 0;

}
input[type=submit]:hover{
	background: #ff6600;
}
input[type=submit]{
	position: absolute;
	border-radius: 50px;
	

}